.firstCard {
  position: absolute;
  width: 188px;
  height: 218px;
  left: 100px;
  top: 0px;
}
.secondCard {
  position: absolute;
  width: 305px;
  height: 340px;
  left: 0px;
  top: 245px;
}
.thirdCard {
  position: absolute;
  width: 309px;
  height: 290px;
  left: 330px;
  top: 30px;
}
.fourthCard {
  position: absolute;
  width: 380px;
  height: 113px;
  left: 340px;
  top: 345px;
}
